### Import all mondules that will be used

In [98]:
from tabulate import tabulate
import pandas as pd
import matplotlib.pyplot as plt

In [99]:
# Making the csv file readable
def tab(frame, format):
    return tabulate(frame, headers='keys', tablefmt=format)

In [108]:
# Making the csv file readable
df = pd.read_csv('orderHistory.csv')

In [109]:
#Filling missing calues with 0
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687 entries, 0 to 686
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Website                         687 non-null    object
 1   Order ID                        687 non-null    object
 2   Order Date                      687 non-null    object
 3   Purchase Order Number           687 non-null    object
 4   Currency                        687 non-null    object
 5   Unit Price                      687 non-null    float64
 6   Unit Price Tax                  687 non-null    float64
 7   Shipping Charge                 687 non-null    float64
 8   Total Discounts                 687 non-null    object
 9   Total Owed                      687 non-null    float64
 10  Shipment Item Subtotal          687 non-null    object
 11  Shipment Item Subtotal Tax      687 non-null    object
 12  ASIN                            687 non-null    object
 13  Product Condition               687 non-null    object
 14  Quantity                        687 non-null    int64
 15  Payment Instrument Type         687 non-null    object
 16  Order Status                    687 non-null    object
 17  Shipment Status                 687 non-null    object
 18  Ship Date                       687 non-null    object
 19  Shipping Option                 687 non-null    object
 20  Shipping Address                687 non-null    object
 21  Billing Address                 687 non-null    object
 22  Carrier Name & Tracking Number  687 non-null    object
 23  Product Name                    687 non-null    object
 24  Gift Message                    687 non-null    object
 25  Gift Sender Name                687 non-null    object
 26  Gift Recipient Contact Details  687 non-null    object
dtypes: float64(4), int64(1), object(22)
memory usage: 145.0+ KB

In [110]:
#Filling missing calues with 0
df = df.fillna(0)

In [111]:
# Removing non-numeric characters and converting them to floats
df["Shipment Item Subtotal"] = pd.to_numeric(df["Shipment Item Subtotal"].str.replace('[^\d.]', '', regex=True), errors='coerce')

In [122]:
# getting all the addresses used by using the unique method so there are no repeats
addresses = df["Shipping Address"].unique()
addresses

array(['Imir Ransom 1141 Creekside Dr Wilmington DE 19804 United States',
       'Stephanie Pullins 3007 N STILLMAN ST PHILADELPHIA PA 19132-1306 United States',
       'Ahmad Benefield 3007 N STILLMAN ST PHILADELPHIA PA 19132-1306 United States',
       'Teyonna Pullins 3007 N STILLMAN ST PHILADELPHIA PA 19132-1306 United States',
       'Imir 1140 CREEKSIDE DR APT 1 WILMINGTON DE 19804-3931 United States',
       'Imir Ransom 2005 CERVANTES CT NEWARK DE 19702-4401 United States',
       'Stephanie Pullins 2626 N BANCROFT ST PHILADELPHIA PA 19132-3933 United States',
       'Imir 2005 CERVANTES CT NEWARK DE 19702-4401 United States',
       'Sadie Graham 203 ATLANTIC AVE WILMINGTON DE 19804-1432 United States',
       'Jeffrey Mullen 203 ATLANTIC AVE WILMINGTON DE 19804-1432 United States',
       'Imir 33 WENARK DR APT 12 NEWARK DE 19713-1442 United States',
       'Imir Ransom 83 PIKE CREEK RD APT 1B NEWARK DE 19711-6819 United States',
       'Imir Ransom 2 Indepence Hall Newark Delaware 19711 United States'],
      dtype=object)

In [125]:
steph1 = addresses[1]
steph2 = addresses[6] 
steph1

'Stephanie Pullins 3007 N STILLMAN ST PHILADELPHIA PA 19132-1306 United States'

In [126]:
steph2

'Stephanie Pullins 2626 N BANCROFT ST PHILADELPHIA PA 19132-3933 United States'

In [144]:
s = df.groupby(['Shipping Address'])['Shipment Item Subtotal'].sum().reset_index()
s

                                     Shipping Address  Shipment Item Subtotal
0   Ahmad Benefield 3007 N STILLMAN ST PHILADELPHI...                   65.64
1   Imir 1140 CREEKSIDE DR APT 1 WILMINGTON DE 198...                  145.48
2   Imir 2005 CERVANTES CT NEWARK DE 19702-4401 Un...                 1064.44
3   Imir 33 WENARK DR APT 12 NEWARK DE 19713-1442 ...                 1268.42
4   Imir Ransom 1141 Creekside Dr Wilmington DE 19...                 1456.69
5   Imir Ransom 2 Indepence Hall Newark Delaware 1...                   26.80
6   Imir Ransom 2005 CERVANTES CT NEWARK DE 19702-...                  214.74
7   Imir Ransom 83 PIKE CREEK RD APT 1B NEWARK DE ...                  396.13
8   Jeffrey Mullen 203 ATLANTIC AVE WILMINGTON DE ...                  179.00
9   Sadie Graham 203 ATLANTIC AVE WILMINGTON DE 19...                   33.99
10  Stephanie Pullins 2626 N BANCROFT ST PHILADELP...                  556.62
11  Stephanie Pullins 3007 N STILLMAN ST PHILADELP...                11189.07
12  Teyonna Pullins 3007 N STILLMAN ST PHILADELPHI...                   32.73